%h2 Browse through the menu!
%p Don't forget to check the following files on this project:
%ul
  %li
    %p
      %strong config/environment.rb
    %p Gem configuration.
  %li
    %p
      %strong config/initializers/simple_navigation.rb
    %p This is where navigation menus (like the one you're seeing right now) are configured.
  %li
    %p
      %strong public/javascripts and public/style_sheets
    %p Browser code (javascript) and CSS (kind of messy, will fix it later) of this menu.
